/* Dark Mode Styles */

:root {
  --primary-color: #ffd500;
  --white-color: #ffffff;
  --dark-color: #010101;
  --menu-bg-color: #212529;

  --gray-color: #909090;
  --p-color: #7d7a7a;

  /* Dark mode adjustments */
  --primary-color-dark: #ffd500;
  --white-color-dark: #010101;
  --dark-color-dark: #ffffff;
  --menu-bg-color-dark: #0a0a0a;

  --gray-color-dark: #7d7a7a;
  --p-color-dark: #c4c4c4;
}

body {
  background-color: var(--dark-color-dark);
  color: var(--white-color-dark);
}

.navbar {
  background: transparent;
}

.navbar.scroll {
  background: var(--menu-bg-color-dark);
}

.navbar-brand {
  color: var(--white-color-dark);
}

.navbar .custom-btn {
  background: var(--primary-color-dark);
  color: var(--dark-color-dark);
}

.navbar .custom-btn:hover,
.navbar .custom-btn:focus {
  background: var(--dark-color-dark);
  color: var(--white-color-dark);
}

.nav-item .nav-link.active,
.nav-item .nav-link:hover {
  color: var(--gray-color-dark);
}

.nav-item .nav-link.active,
.nav-item .nav-link:hover {
  border-bottom-color: var(--primary-color-dark);
}

.nav-link {
  color: var(--gray-color-dark);
}

.contact-form .form-control,
.webform-label {
  color: var(--white-color-dark);
}

.contact-form ::-webkit-input-placeholder {
  color: var(--gray-color-dark);
}

.contact-form ::-moz-placeholder {
  color: var(--gray-color-dark);
}

.contact-form .form-control:focus::-webkit-input-placeholder {
  opacity: 1;
}

.contact-form .form-control:focus::-moz-placeholder {
  opacity: 1;
}

.custom-btn,
#submit-button {
  background: var(--dark-color-dark);
  color: var(--white-color-dark);
}

.custom-btn:hover,
.custom-btn:focus,
#submit-button:hover {
  background: var(--primary-color-dark);
  color: var(--dark-color-dark);
}

.hero-title,
.email-link {
  background: var(--dark-color-dark);
  color: var(--white-color-dark);
}

.email-link:hover {
  background: var(--primary-color-dark);
  color: var(--dark-color-dark);
}

.testimonials {
  background: #0a0a0a;
}

.social-links a {
  color: var(--p-color-dark);
}

.social-links a:hover {
  color: var(--dark-color-dark);
}
